@require 'color.config.styl';

.list {

}

.item {
  margin: 0.5rem 0;
  border-left: 3px solid #555;
  padding: 0.5rem;
}

.item:hover {
  background-color: $blue;
}

.currentDj {
  background-color: #eed;
}

.name {
  font-size: 1.1rem;
}

.availability {
  padding: 0.25rem 0;
  font-style: italic;
  font-size: 0.9rem;
  color: #999;
}

.genreContainer {
  padding: 0.25rem 0;
  font-size: 0.9rem;
  display: flex;
}

.genreItem {
  margin-right: 0.25rem;
  padding: 0.25rem;
  border-radius(0.25rem);
  border: 1px solid #999;
  background-color: #ccc;
}
